.beers{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

hr{
    width: 100%;
    background-color: black;
    height: 3px;
    border: none;
}