.beer-details{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        width: 80px;
    }
}

.beer-details-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 90%;
}